body {
  background-color: #B3E5FC;
}

.errorClass {
  color: red;
  font-size: 16px;
  font-family: Garamond;
  font-weight: bold;
}

.imgAnimation {
  border: gray solid 0.1em;
  width: 25%;
  height: 25%;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 5px #888;
  box-shadow: 5px 5px 5px #888;
}
.imgAnimation:hover {
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  -webkit-transform: rotate(-25deg) scale(1);
  -ms-transform: rotate(-25deg) scale(1);
  transform: rotate(-25deg) scale(1);
}
.imgAnimation:active {
  -webkit-transform: scale(4);
  -ms-transform: scale(4);
  transform: scale(4);
}

#content {
  width: 100%;
}

#content img {
  width: 350px;
  height: 350px;
}

h1 {
  font-family: Helvetica;
  font-size: 32px;
  color: black;
  margin: 5px;
}

li {
  font-family: Cambria;
  font-size: 1.2em;
  color: black;
  padding: 3px;
}

header {
  border-radius: 1em;
  padding-top: 1em;
  padding-left: 1em;
  margin-top: -1em;
  margin-bottom: 0.3em;
  width: 98%;
  height: 6.25em;
  font-family: garamond;
  font-size: 1.2em;
  color: black;
  border: solid black 0.1em;
}

#main {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#content {
  min-height: 300px;
  font-family: Corbel;
  font-size: 14px;
}

nav {
  background-color: #E0E0E0;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  display: block;
  width: 100%;
  float: none;
  padding: 0;
}
nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
nav li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
  padding: 0;
  font-size: 90%;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4fc3f7), to(#29b6f6));
  background-image: -webkit-linear-gradient(#4fc3f7, #29b6f6);
  background-image: linear-gradient(#4fc3f7, #29b6f6);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
nav li a {
  text-decoration: none;
  width: 100%;
  padding: 0.4em 0;
  white-space: nowrap;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #01579B;
  -webkit-transition: color 100ms ease;
  transition: color 100ms ease;
}
nav li:hover {
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#81d4fa), to(#29b6f6));
  background-image: -webkit-linear-gradient(#81d4fa, #29b6f6);
  background-image: linear-gradient(#81d4fa, #29b6f6);
}
nav li:hover a {
  color: white;
}
nav li:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0288d1), to(#29b6f6));
  background-image: -webkit-linear-gradient(#0288d1, #29b6f6);
  background-image: linear-gradient(#0288d1, #29b6f6);
}

footer {
  font-family: Corbel;
  font-size: 12px;
  padding: 1em 0;
  text-align: center;
}

#wrapper {
  padding: 2em 8em;
  max-width: 960px;
  margin: 0 auto;
}

@media all and (max-width: 943px) {
  #wrapper {
    padding: 2em;
  }

  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
